/* 
.header {
  width: 100;
  padding: 30px;
  text-align: center;
  background-color: #f4e3f5;
  color: rgb(86, 84, 84);
  font-size:xx-large;
  font-family:Arial, Helvetica, sans-serif;
  border:solid;
  border-width: 30px;
  border-color: white;
   } 
 
 
 ul {
  
  justify-content:space-around;
  list-style-type: none;
  margin-right: 0;
  padding: 0;
  text-align: center;
  color:rgb(84, 80, 80);
 
}

 div  {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight: 100;
  color: rgb(84, 80, 80);
  text-align: center;

  align-items: center;
  }
 
 
 img {
   height: 50 px;
   width: 50 px;
      /* height: 50px; */
      /* width: 50px */
  }
 
 
  .card {
      
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 20px solid#edbbf0;
      text-align: center;
      padding: 50px;
  }
   */