header{
  text-align: center;
  background-color: rgb(249, 221, 245);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 20px;
 }
 ul {
   justify-content:space-between;
   display: inline;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   text-decoration: none;
   list-style-type: none;
   margin:auto;
   text-align: left;
 }
 
 body {
   background-color: lightgrey;
   margin: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   text-align: center;
   /* justify-items:center;
   justify-content:center;
    */
   
   }
 
   .form {
     margin: 20px;
     align-items: left;

   }
   
   .form input {
    
     margin-top: 20px;
     margin-bottom: 20px;
     width: 50%;
     height: 40px;
     
   }

   #largeportfoliopic {
     width: 75%;
     
    }
    .smallportfoliopic {
     width: 500px

   } 
   #smallportpics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   
   
   